.nav_code_bar{
  display: flex;
  justify-content: space-between;
  background-color: #272822;
  border: none !important;
}

.btn-lang{
  border: white solid 1px;
  color: white;
  /* border: 2px solid white; */
  background-color: #272822;
  
  border-radius: 2%;
  margin-left: 20px;
  margin-top: 8px;
}
.btn-theme{
  border: white solid 1px;
  color: white;
  /* border: 2px solid white; */
  background-color: #272822;
  
  border-radius: 2%;
  margin-right: 20px;
  margin-top: 8px;
}
.root-grid{
  display: grid;
  gap: 0.2%;
  grid-template-rows: 7% 92.8%;
}
.grid{
  border: none !important;
  display: grid;
  gap:0.1%;
  grid-template-columns: 70% 29.9%;
  margin-bottom: 0 !important;
}
.grid2{
  display: grid;
  gap: 0.2%;
  grid-template-rows: 50% 49.8%;
  background-color: aliceblue;
  color: aliceblue;
  
}
.input_container{
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: #272822;
}
.output_container{
  display: flex;
  flex-direction: column;
  background-color: #272822;
}

textarea{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #272822;
  color: aliceblue;
  vertical-align: middle;
  border: none !important;
}
.input_text{
  padding-left: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 2%;
}
#input{
  padding-left: 5%;
  font-family: 'Times New Roman', Times, serif;
}
.output_text{
  padding-left: 5%;
  padding-top: 2%;
  
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.output_box{
  height: 70%;
}
#output{
  padding-left: 5%;
  margin-bottom: 5px;
  
  font-family: 'Times New Roman', Times, serif;
}
.run_button{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 10px;
  
}
.btn{
  border: none;
  padding: 4px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
  transition: all 0.3s ease-in-out;
}

.btn-run{
  background: #4aee88;
  width: 100px;
  margin-right: 5%;
  margin-left: auto;
}
.btn-run:hover{
  background: #2b824c;
}
.editor{
  height: 92.8vh;
}